.square{
    background-color: cadetblue;
    height: 60px;
    width: 60px;
    transition: all 0.2s;
    text-align: center;
}
.square:hover{
    background-color: cadetblue;
    height: 60px;
    width: 150px;
    transition: all 0.2s;
}
.squareClicked{
    background-color: rgb(96, 130, 131);
    height: 60px;
    width: 150px;
    transition: all 0.2s;
}

.squareContainer{
    height: 60px;
    width: 300px;
    padding: 10px; 
}

.messageContainer{
    display: flexbox;
    width: fit-content; 
    height: fit-content;
    min-width: 50px;
    max-width: 300px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: rgb(93, 179, 255);
    padding: 10px;
    margin-top: 10px;
}

.messageContainer:hover{
    background-color: rgb(113, 189, 255);
}

.messageText{
    margin: auto;
    color: rgb(234, 245, 255);
    word-wrap: break-word;
    font-weight: 400;
}

.messageTime{
    color: rgb(234, 245, 255);
    width: 100%;
    text-align: right;
    font-size: 12px;
    padding: 2px;
    
}

.messageList{
    width:100%;
    margin: 5px;
    flex:1;
}

.title{
    text-align: center;
    border-bottom: 1px solid black;
}

.app{
    background-color: #eeeeee;
    border: 1px solid black;
    /* padding: 5px; */
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

input{
    flex:1;
    font-size: 15px;
}
input:focus{
    outline: none;
}
button{
    /* flex:2; */
    /* width: 10%; */
    height: 100%;
}

.input-container{
    display: flex;
    height: 30px;
}